.ngm-hero {
    position: relative;
    height: 100vh;
    background-color: #000000;
  }

.ngm-hero-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
  }

.ngm-heading {
    font-family: "SF Pro Display", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 32px;
  }


  .ngm-description {
    font-family: "SF Pro Text", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
  }

  .ngm-button {
    background-color: #FFF;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .ngm-button:hover {
    background-color: #000;
    color: #FFF;
  }

  .ngm-button2 {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 40px;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .ngm-button2:hover {
    background-color: white;
    color: black;
  }


  .ngm-sales {
    background-color: #F8F8F8;
    height: 100vh;
  }

  .ngm-sales-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
  }

  .ngm-subheading {
    font-family: "SF Pro Display", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
  }

  .ngm-subheading2 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: black;
    margin-bottom: 32px;
  }

  .ngm-sales-description {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
  }

  .ngm-inventory {
    background-color: black;
    height: 100vh;
  }

  .ngm-inventory-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
  }

  .ngm-inventory-subheading {
    font-family: "SF Pro Display", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
  }

  .ngm-inventory-description {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 40px;
  }




  .tools {
    max-width: 1200px;
    height: 46%;
    position: relative;
    left: 740px;
  }



  .bm {
    max-width: 39%;
    height: auto;
    position: relative;
    left: 600px;
  }

  .bcr {
    max-width: 50%;
    height: auto;
    position: relative;
    left: 500px;
  }
